{% extends 'jadwal/base.html' %}

{% block page_title %}
    Form Kegiatan
{% endblock page_title %}

{% block header %}
    Form Kegiatan
{% endblock header %}

{% block content %}
<div class='container'>
    <form method='post'>
        {% csrf_token %}
        {% for form in form %}
            <div class='form-group'>
                {{form.label}}
                {{form}}                
            </div>          
        {% endfor %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}          
        <br>
        <input type='submit' class='btn btn-primary mb-2 float-right' value='Submit'/>
    </form>
<div>
{% endblock content %}