html{
  scroll-behavior: smooth;
}
body {
  font-size: 15pt;
  font-family: 'arvoregular' !important;
}
.homepage{
  background-color: #292B2B;
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing{
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing h5 {
  color: white;
  font-family: 'Roboto';
  font-size: 24pt;
  line-height: 1.565;
  margin-bottom: 0;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.landing h1{
  text-align: center;
  font-family: 'Roboto';
  align-content: center;
  font-style: normal;
  vertical-align: middle;
  font-size: 34pt;

  color: #FFFFFF;
}

.landing p{
  text-align: center;
  font-family: "lora-regular";
  align-content: center;
  vertical-align: middle;
  color: white;
  font-size: 24pt;
}

.turunin-font-size{
  font-size: 16pt !important;
}

.turunin-font-size span::before {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 14px 0 8px;
  color: white;
}

.turunin-font-size span::after {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 14px 0 8px;
  color: white;
}


.landing img{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

hr.main-line{
  border: 1px solid white;
  border-radius: 2px;
  width: 700px;
  width: 75%;
  align-content: center;
}

.page2{
  background-color: #292B2B
}

.profile{
  align-content: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.profile-header h1{
  color: white;
}

.profile-header h2{
  font-family: 'arvobold';
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14pt;
  color : whitesmoke;
}

hr.header-line{
  border:.65px solid white;
  max-width: 50%;
  align-content: center;
}

.profile .container{
  margin-top: 50px;
  margin-bottom: 20px;
}

.row p.font-profile{
  text-align: left;
  margin-top: 25px;
  font-size: 14pt;
  margin-bottom: 0;
  color: #FFFFFF;
}

.my-poto{
  max-width: 75%;
  display: block;
  margin: auto;  
  height: 200px;
}

.profile .container{
  margin-top: 50px;
  margin-bottom: 20px;
}

.profile .about-content{
  margin-top: 50px;
  margin-bottom: 20px;
}

.about-content h1{
  font-family: 'arvobold';
  text-align:center;
  margin-top: 25px;
  margin-bottom: 0;
  color: #FFFFFF;
}

.about-content .infolist li{
  padding: 0 0 0rem 0;
  margin-bottom: .6rem;
}

.about-content .infolist li strong {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.about-content .infolist li span {
  display: block;
  color: rgba(255, 255, 255, 0.801);
  font-size: 1.5rem;
  line-height: 1;
}

.page3{
  background-color: #292B2B
}

.contactPage{
  align-content: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.contactPage h5{
  /* CONTACT ME */
  font-family: Roboto;
  text-align:center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  
  color: #FFFFFF;
}

.baris{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.baris a{
  margin-left: 10px;
  margin-right: 10px;

}

#line{
  width: 20%;
  max-width: 123px;
  height: auto;

}

#facebook{
/* 697057-facebook-512 */
  width: 20%;
  max-width: 171px;
  height: auto;
}

#whatsapp{
  width: 20%;
  max-width: 123px;
  height: auto;
}

#linkedin{
  width: 20%;
  max-width: 162px;
  height: auto;
}

