<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>McDy PPW ABOUT</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  	 	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
    </head>
    <body class="page2">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#">DahlanYasa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_jadwal' %}">Kegiatan</a>
                    </li>
                </ul>
            </div>  
        </nav>

        <div class="profile container" id="profile">
            <div class="profile-header">
                <h1 class="text-center"><b>ABOUT</b></h1>
                <h2 class="text-center">Let me introduce myself</h2>
                <hr class='header-line'>
            </div>
            <div class="container">
                <div class="row">
                    <div class="foto-container">
                        <img src="{% static 'images/01Dahlan.png' %}" class="rounded-circle my-poto" alt="Pas-Foto">
                        <p class="text-justify about-me font-profile">I’m an ambitious junior prorammer student striving for computing knowledge. I am interested in  Web Development, Machine Learning, and Game Development. I am determined and passionate when it comes to my interests, especially if it helps other people and make the world a better place.</p>
                    </div>
                </div>
            </div>
            <div class="about-content">
                <h1>Profile</h1>
                <ul class="infolist">
                    <li>
                        <strong>Fullname: </strong>
                        <span>Muhammad Dahlan Yasadipura</span>
                    </li>
                    <li>
                        <strong>Birth Date: </strong>
                        <span>May 8, 2000</span>
                    </li>
                    <li>
                        <strong>website: </strong>
                        <span>DahlanYasa.herokuapp.com</span>
                    </li>
                    <li>
                        <strong>Contact: </strong>
                        <span>mdahlany@gmail.com</span>
                    </li>
                </ul>
            </div>

        </div>
    </body>
</html>